name: Checkov

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_run:
    workflows: ["Tfsec"]
    types:
      - completed

permissions: read-all

jobs:
  checkov-checks:
      runs-on: ubuntu-latest
      steps:

      - name : Check out Git Repository
        uses: actions/checkout@v4

      - name: Run Checkov
        run: |
           docker run -t -v ${{ github.workspace }}:/tf --workdir /tf bridgecrew/checkov --directory /tf --skip-check CKV2_GHA_1
