name: Tfsec

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_run:
    workflows: ["Tflint"]
    types:
      - completed

permissions: read-all

jobs:
  tfsec-checks:
      runs-on: ubuntu-latest
      steps:

      - name : Check out Git Repository
        uses: actions/checkout@v4

      - name: Run Tfsec
        uses: aquasecurity/tfsec-action@v1.0.0
